In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\prana\Downloads\archive (5)\wbb_rosters_2022_23.csv")

In [5]:
df.head()

,ncaa_id,team,player_id,name,year,hometown,homestate,high_school,previous_school_clean,height_clean,...,total_inches,primary_position,secondary_position,position_clean,year_clean,redshirt,hs_clean,hometown_clean,state_clean,country_clean
0,721,Air Force,11807.0,Mackenzie Le,Freshman,Elk Grove,California,St. Francis,NaN,"5'3""",...,63.0,GUARD,NaN,GUARD,Freshman,0,St. Francis,"ELK GROVE, CA",CA,USA
1,721,Air Force,11805.0,Milahnie Perry,Freshman,Tampa,Florida,Seffner Christian Academy,NaN,"5'7""",...,67.0,GUARD,NaN,GUARD,Freshman,0,Seffner Christian Academy,"TAMPA, FL",FL,USA
2,721,Air Force,11801.0,Madison Smith,Sophomore,Connell,Washington,Connell,NaN,"5'8""",...,68.0,GUARD,NaN,GUARD,Sophomore,0,Connell,"CONNELL, WA",WA,USA
3,721,Air Force,11795.0,Taylor Britt,Junior,Columbia,South Carolina,Spring Valley,USAFA Prep,"5'7""",...,67.0,GUARD,NaN,GUARD,Junior,0,Spring Valley,"COLUMBIA, SC",SC,USA
4,721,Air Force,11796.0,Kamri Heath,Senior,Edmond,Oklahoma,Edmond North,NaN,"5'7""",...,67.0,GUARD,NaN,GUARD,Senior,0,Edmond North,"EDMOND, OK",OK,USA

In [6]:
df['player_id'].nunique()

7509

In [7]:
df['player_id'].isnull().sum()

3108

In [8]:
df['player_id'].isna().sum()

3108

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13806 entries, 0 to 13805
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ncaa_id                13806 non-null  int64
 1   team                   13806 non-null  object
 2   player_id              10698 non-null  float64
 3   name                   13806 non-null  object
 4   year                   13806 non-null  object
 5   hometown               13806 non-null  object
 6   homestate              13783 non-null  object
 7   high_school            13612 non-null  object
 8   previous_school_clean  2011 non-null   object
 9   height_clean           13767 non-null  object
 10  position               13781 non-null  object
 11  jersey                 13747 non-null  object
 12  url                    13806 non-null  object
 13  season                 13797 non-null  object
 14  team_state             13794 non-null  object
 15  conference             13806 non-null  object
 16  division               13806 non-null  object
 17  height_ft              13767 non-null  float64
 18  height_in              13767 non-null  float64
 19  total_inches           13767 non-null  float64
 20  primary_position       13774 non-null  object
 21  secondary_position     1019 non-null   object
 22  position_clean         13774 non-null  object
 23  year_clean             13805 non-null  object
 24  redshirt               13806 non-null  int64
 25  hs_clean               13627 non-null  object
 26  hometown_clean         13806 non-null  object
 27  state_clean            12733 non-null  object
 28  country_clean          13806 non-null  object
dtypes: float64(4), int64(2), object(23)
memory usage: 3.1+ MB

In [10]:
df['team'].nunique()

938

In [11]:
df['year'].nunique()

82

In [12]:
df['height_ft'].nunique()

3

In [13]:
df['height_in'].nunique()

12

In [17]:
df1 = pd.read_csv(r"C:\Users\prana\Downloads\archive (5)\wbb_rosters_2022_23.csv")

In [18]:
df['year'] = df['year'].replace('Fr.', 'Freshman')

In [19]:
df['year'].iloc[115]

'Freshman'

In [20]:
df['year'] = df['year'].replace('So.', 'Sophomore')

In [21]:
df['year'].iloc[120]

'Sophomore'

In [22]:
df['year'] = df['year'].replace('Sr.', 'Senior')

In [23]:
df['year'] = df['year'].replace('Jr.', 'Junior')

In [24]:
df['year'] = df['year'].replace('R-Jr.', 'Redshirt Junior')

In [25]:
df['year'] = df['year'].replace('R-Sr.', 'Redshirt Senior')

In [26]:
df['year'].iloc[114]

'Redshirt Senior'

In [27]:
df['year'] = df['year'].replace('First Year', 'Freshman')

In [28]:
df['year'] = df['year'].replace('FY', 'Freshman')

In [29]:
df['year'] = df['year'].replace('Gr.', 'Graduate Student')

In [30]:
df['year'].nunique()

73

In [31]:
df['year'] = df['year'].replace('R-Fr.', 'Redshirt Freshman')

In [32]:
df['year'].unique()

array(['Freshman', 'Sophomore', 'Junior', 'Senior', 'Graduate Student',
       'Fifth Year', 'Redshirt Senior', 'Redshirt Freshman',
       'Redshirt Sophomore', 'Redshirt Junior', 'R-So.', 'RS So.',
       'RS Sr.', 'SO', 'JR', 'R-SR', 'FR', 'SR', 'Redshirt-Junior',
       'Graduate', 'Redshirt-Freshman', '5th Yr.', 'First-Year',
       'R-Junior', 'Senior*', 'Redshirt Fifth Year',
       'Redshirt First Year', 'GS', 'Sixth Year', 'RS-Freshman', 'Fr',
       'Jr', 'Sr', 'So', 'Sophmore', 'Fy.', 'Fr.-RS', 'So.-1L', 'Sr.-Tr.',
       'Sr.-3L', 'Jr.-Tr.', 'Fr.-HS', 'Sr.-2L', 'Jr.-1L', 'Sr.-1L', 'rFR',
       'First-year', 'RFr.', 'First-Year Student', 'GR', 'Fr. - RS', 'Gr',
       '5th Year', 'Grad.', '2023', '2024', '2025', '2026', 'Fy',
       'R-Senior', 'R-Freshman', 'R-Sophomore', '5th', 'RS-Sr.',
       '5th-year Senior', '6th', 'Gs', 'Rs.', 'r-Jr', 'Grad Student',
       'Gs.', 'GS.'], dtype=object)

In [33]:
replace_dict = {'FR': 'Freshman', 'Fr': 'Freshman', 'R-Junior': 'Redshirt Junior'}

df['year'] = df['year'].replace(replace_dict)

In [34]:
df['position'].unique()

array(['G', 'G/F', 'C/F', 'F', 'Guard', 'Forward', 'Center',
       'Guard/Forward', 'Forward/Center', 'F/C', 'C', 'Point', 'PG',
       'Center/Forward', 'F/G', 'Foward', 'Wing', nan, 'Forward/Guard',
       'SG', 'SF', 'Post', 'Center/ Forward', 'Shooting', 'GUARD', 'PF',
       'Forward/Wing', 'FORWARD', 'CENTER', 'Guard/Post', 'Small', 'W',
       'Guard/Wing', 'Point Guard', 'Power', 'Guards', 'guard', 'Guard/',
       'P', 'F-C', 'Wing/Center', 'F/W', 'PG/SG/SF', 'C/PF', 'FWD',
       'Wing/Forward', 'Guard/Foward', 'Guard-Forward', 'Gu', 'C-F',
       'Guard/Forawrd', 'Point-Guard', 'Wing/Point', 'Post/Forward',
       'Point/Shooting', 'Shooting/Point', 'Gaurd/Forward', 'G / F',
       'Power Forward', 'G | F', 'F/PF'], dtype=object)

In [35]:
replace_dict = {'G': 'Guard', 'G/F': 'Guard/Forward','G / F': 'Guard/Forward', 'C/F': 'Center/ Forward', }

df['position'] = df['position'].replace(replace_dict)

In [36]:
df['position'].nunique()

56

In [38]:
df.isnull().sum()

ncaa_id                      0
team                         0
player_id                 3108
name                         0
year                         0
hometown                     0
homestate                   23
high_school                194
previous_school_clean    11795
height_clean                39
position                    25
jersey                      59
url                          0
season                       9
team_state                  12
conference                   0
division                     0
height_ft                   39
height_in                   39
total_inches                39
primary_position            32
secondary_position       12787
position_clean              32
year_clean                   1
redshirt                     0
hs_clean                   179
hometown_clean               0
state_clean               1073
country_clean                0
dtype: int64

In [42]:
df['ncaa_id'].nunique()

938

In [43]:
df.isnull().sum()

ncaa_id                      0
team                         0
player_id                 3108
name                         0
year                         0
hometown                     0
homestate                   23
high_school                194
previous_school_clean    11795
height_clean                39
position                    25
jersey                      59
url                          0
season                       9
team_state                  12
conference                   0
division                     0
height_ft                   39
height_in                   39
total_inches                39
primary_position            32
secondary_position       12787
position_clean              32
year_clean                   1
redshirt                     0
hs_clean                   179
hometown_clean               0
state_clean               1073
country_clean                0
dtype: int64